* {
  all: unset;
  font-family: "SourceCodePro", monospace;
  font-size: 14pt;
  font-weight: bold;
}
.bar-body {
  background-color: black;
  border-style: solid;
  border-color: white;
  border-width: 3pt 3pt 3pt 0pt;
  border-radius: 0pt 12pt 12pt 0pt;
  padding-top: 10pt;
  padding-bottom: 10pt;
}
.online {
  margin-top: 8pt;
}
.battery {
  margin-top: 8pt;
}
scale.volbar trough {
  min-height: 40pt;
  min-width: 3pt;
  margin-top: 2pt;
}
scale.volbar trough highlight {
  background-color: black;
  border-radius: 3pt;
}
.volbox {
  background-color: white;
  border-style: solid;
  border-color: white;
  border-width: 1.4pt;
  border-radius: 8pt;
  margin-top: 8pt;
  min-width: 10pt;
  padding-top: 3pt;
  padding-bottom: 3pt;
}
.volcon {
  background-color: white;
  color: black;
  font-size: 7pt;
  margin-top: 3pt;
}
