[Unit]
Description=start adb server

[Service]
Type=forking
ExecStart=/usr/bin/sudo -u root bash -c "adb start-server"

[Install]
WantedBy=default.target
